<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dados Preenchidos</title>
</head>
<body>
	<div>
		<h1>Dados Preenchidos</h1>
		<div>
			<p>ID: <span th:text="${dados.id}"></span></p>
			<p>Nome: <span th:text="${dados.nome}"></span></p>
			<p>Descrição: <span th:text="${dados.descricao}"></span></p>
			<p>Email: <span th:text="${dados.email}"></span></p>
			<p>Senha: <span th:text="${dados.senha}"></span></p>
			<p>Repetir Senha: <span th:text="${dados.repetirSenha}"></span></p>
			<p>Numero da Sorte: <span th:text="${dados.numeroSorte}"></span></p>
			<p>Altura: <span th:text="${dados.altura}"></span></p>
			<p>Peso: <span th:text="${dados.peso}"></span></p>
			<p>Data de Nascimento: <span th:text="${dados.dtNascimento}"></span></p>
			<p>Sexo: <span th:text="${dados.sexo}"></span></p>
			<p>Interesses:
				<ul th:each="interesse : ${dados.interesses}">
					<li th:text="${interesse}"> </li>
				</ul>
			</p>	
		</div>
	</div>

</body>
</html>